/BabelComic.db
/BabelComic (copia).db
/BabelComic (otra copia).db
/BabelComic - Antes de Lock.db
/BabelComic - Antes de mod hilos volumen.db
/BabelComic -Antes de agregar papelera.db
/BabelComic-BKP20200224.db
/descripcion funcionalidad agregado de volumen
/archivo.txt
/images/coverIssuesThumbnails/
/BabelComic-old.db
/Progreso_descarga_volumen_info_gtk.epgz
/Progreso_descarga_volumen_info_gtk.glade
/test.py
/documentacion/site/
